* {
    font-family: 'Inter', sans-serif;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 5px;

}
#nav-bar{
    text-decoration: none;
    letter-spacing: 2px;
    width: 50%;
    align-self: center;
} 
#nav-bar a {
    text-decoration: none;
    color: white;
    margin-left: 90px;
    text-transform: uppercase;
    font-weight: 900;
}
#header-img{
    justify-content: flex-start;
    width: 12%;
    
}
.main-content {
    display: flex;
    /* background-color: green; */
    padding: 2%;
}
.content {
    justify-content: center;
    align-self: center;
    width: 100%;
    /* background-color: blue; */
    padding: 5%;
}
.content p {
    /* color: green; */
    position: relative;
    line-height: 2em;
    text-align: justify
}
.content h1 {
    /* color: white; */
    /* background-color: black; */
    font-size: 5.1vw;
}
#main-img {
    width: 100%;
    /* background-color: purple; */
}
form {
    /* background-color: green; */
    padding-top: 1%;
    text-align: center;
}
  input[type=email] {
    width: 50%;
    padding: 12px 20px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 10%;
    background-color: #00C1A2;
    color: black;
    padding: 11px 20px;
    margin: 8px;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    font: bold 15px arial, sans-serif;
  }
